@{
    ViewData["Title"] = "Home Page";
}



    <section class="site-hero overlay" data-stellar-background-ratio="0.5" style="background-image: url(images/big_image_1.jpg);">
      <div class="container">
        <div class="row align-items-center site-hero-inner justify-content-center">
          <div class="col-md-8 text-center">

            <div class="mb-5 element-animate">
              <h1>Learn From Doing</h1>
              <p class="lead">Learn something new every day by proactivly learning.</p>
               <p><a class="btn btn-primary" asp-area="" asp-controller="Home" asp-action="Registration">Sign up</a></p>
            </div>

            
          </div>
        </div>
      </div>
    </section>
    <!-- END section -->




    <section class="site-section">
      <div class="container">
        <section class="school-features text-dark d-flex">

            
          <div class="inner">
            <div class="media d-block feature">
              <div class="icon"><span class="flaticon-student-1"></span></div>
              <div class="media-body">
                <h3 class="mt-0">Online trainings from experts</h3>
                <p>After you sign-up, there is also an online comunity where you can speak with the host of the website among others that are undertaking the course.</p>
              </div>
            </div>

            <div class="media d-block feature">
              <div class="icon"><span class="flaticon-student"></span></div>
              <div class="media-body">
                <h3 class="mt-0">Learn anywhere in the world</h3>
                <p>All you need to take this course is a computer is a laptop with internet with pre-downloaded software that can start you on your learning journey.</p>
              </div>
            </div>

            <div class="media d-block feature">
              <div class="icon"><span class="flaticon-video-player-1"></span></div>
              <div class="media-body">
                <h3 class="mt-0">Creative learning video</h3>
                <p>After you signup, you will be able to learn watching video tutorials from experts.</p>
              </div>
            </div>


            <div class="media d-block feature">
              <div class="icon"><span class="flaticon-book"></span></div>
              <div class="media-body">
                <h3 class="mt-0">Creative learning video</h3>
                <p>There are plenty of learning resouces available for all age types.</p>
              </div>
            </div>
          </div>
        </section>

       
    <section class="section-cover" data-stellar-background-ratio="0.5" style="background-image: url(images/big_image_3.jpg);">
      <div class="container">
        <div class="row justify-content-center align-items-center intro">
          <div class="col-md-7 text-center element-animate">
            <h2>Sign Up and start today</h2>
            <p class="lead mb-5">Learn computer science by learning something new everday. Watch your creation take place by taking baby steps in your learning objective</p>
            <p><a class="btn btn-primary" asp-area="" asp-controller="Home" asp-action="Registration">Sign up</a></p>
          </div>
        </div>
      </div>
    </section>
    <!-- END section -->


    <section class="site-section bg-light">
      <div class="container">
        <div class="row justify-content-center mb-5">
          <div class="col-md-7 text-center">
            <h2>Top Courses</h2>
            <p class="lead">Available resources that you will learn on your completion of this course</p>
          </div>
        </div>
        <div class="row top-course">
          <div class="col-lg-2 col-md-4 col-sm-6 col-12">
            <a href="#" class="course">
              <img src="images/webdesign.jpg" alt="Image placeholder">
              <h2>Web Design 101</h2>
              <p>Enroll Now</p>
            </a>
          </div>
          <div class="col-lg-2 col-md-4 col-sm-6 col-12">
            <a href="#" class="course">
              <img src="images/wordpress.jpg" alt="Image placeholder">
              <h2>Learn How To Develop WordPress Plugin</h2>
              <p>Enroll Now</p>
            </a>
          </div>
          <div class="col-lg-2 col-md-4 col-sm-6 col-12">
            <a href="#" class="course">
              <img src="images/javascript.jpg" alt="Image placeholder">
              <h2>JavaScript 101</h2>
              <p>Enroll Now</p>
            </a>
          </div>
          <div class="col-lg-2 col-md-4 col-sm-6 col-12">
            <a href="#" class="course">
              <img src="images/photoshop.jpg" alt="Image placeholder">
              <h2>Photoshop Design 101</h2>
              <p>Enroll Now</p>
            </a>
          </div>
          <div class="col-lg-2 col-md-4 col-sm-6 col-12">
            <a href="#" class="course">
              <img src="images/reactjs.jpg" alt="Image placeholder">
              <h2>Learn Native ReactJS</h2>
              <p>Enroll Now</p>
            </a>
          </div>
          <div class="col-lg-2 col-md-4 col-sm-6 col-12">
            <a href="#" class="course">
              <img src="images/angularjs.jpg" alt="Image placeholder">
              <h2>Learn AngularJS 2</h2>
              <p>Enroll Now</p>
            </a>
          </div>
        </div>
      </div>
    </section>
    <!-- END section -->
  
    <section class="overflow">
      <div class="container">
        <div class="row justify-content-center align-items-center">
          
          
          <div class="col-lg-7 order-lg-3 order-1 mb-lg-0 mb-5">
            <img src="images/person_testimonial_1.jpg" alt="Image placeholder" class="img-md-fluid">
          </div>
          <div class="col-lg-1 order-lg-2"></div>
          <div class="col-lg-4 order-lg-1 order-2 mb-lg-0 mb-5">
            <blockquote class="testimonial">
              &ldquo; I wish I learnt this 10 years ago in the junior stages of my career. I would be a lot more advanced than I am. Better late than never. &rdquo;
            </blockquote>
            <p>&mdash; John Doe, Certified Computer Science Student</p>
          </div>
        </div>
      </div>
    </section>
    <!-- END section -->