
@{
    ViewData["Title"] = "Loginuser";
}

<h1>Welcome</h1>

<h4>@TempData["user"].ToString()</h4>

𝗥𝗲𝗰𝗼𝗺𝗺𝗲𝗻𝗱𝗲𝗱 𝗹𝗲𝗮𝗿𝗻𝗶𝗻𝗴 𝗿𝗲𝘀𝗼𝘂𝗿𝗰𝗲𝘀 𝗳𝗼𝗿 𝗖# 𝗮𝗻𝗱 .𝗡𝗘𝗧

In the recent Stack Overflow Developer Survey 2022. .NET is marked as the most loved library, while ASP.NET is in the top 4 Web frameworks used by developers. If you want to become a full-stack or back-end developer in the Microsoft .NET stack or you want to improve your knowledge, it's not easy to find the right resources. Here is the list of curated resources that you can use:

𝟭. 𝗟𝗲𝗮𝗿𝗻 𝗖#

- Microsoft Learn C#:  https://lnkd.in/eVdEzvBd.
- Microsoft C# Fundamentals for Absolute Beginners:  https://lnkd.in/e7iC2UUc.
- Microsoft C# 101:  https://lnkd.in/g42jb9bx.
- Udemy C# for Beginners - Coding From Scratch (.NET Core):  https://lnkd.in/eGbiBwq2.
- C# Basics for Beginners: Learn C# Fundamentals by Coding:  https://lnkd.in/ewmfFUdC.

𝟮. 𝗟𝗲𝗮𝗿𝗻 𝗔𝗦𝗣.𝗡𝗘𝗧 

- ASP.NET Core Fundamentals by Scott Alen:  https://lnkd.in/e-fFq6Xt.
- ASP.NET MVC 5 Fundamentals by Scott Alen:  https://lnkd.in/esKxs8U3.
- Advanced ASP.NET Core 3.1 MVC:  https://lnkd.in/e__kZ8Bg.
- Pro ASP.NET Core 3:  https://lnkd.in/eZSCwx4K.

𝟯. 𝗟𝗲𝗮𝗿𝗻 .𝗡𝗘𝗧

- Learn.NET official Microsoft tutorials:  https://lnkd.in/eYp4qNNN.
- Become a Full-stack .NET Developer - Advanced Topics:  https://lnkd.in/efVFFDJK

𝟰. 𝗕𝗼𝗼𝗸𝘀

- Head First C#, 4th Edition:  https://lnkd.in/ezZs8bYE.
- C# in Depth: Fourth Edition (Advanced):  https://lnkd.in/eAJHZWWB.
- The C# Yellow Book:  https://lnkd.in/ePV_-U8e.

𝟱. 𝗬𝗼𝘂𝗧𝘂𝗯𝗲 𝗖𝗵𝗮𝗻𝗻𝗲𝗹𝘀

- IAmTimCorey:  https://lnkd.in/extYhz2k by Timothy Corey.
- Programming with Mosh:  https://lnkd.in/ezTTaz7g.
- Nick Chapsas:  https://lnkd.in/eS_ey2mB by Nick Chapsas.

𝟲. 𝗟𝗲𝗮𝗿𝗻 𝗴𝗼𝗼𝗱 𝗽𝗿𝗮𝗰𝘁𝗶𝗰𝗲𝘀

- Clean code:  https://lnkd.in/eSVMGGXh.
- Code Complete, 2nd Edition (a must-read for any developer and/or architect):  https://lnkd.in/e2Yuzjem.
- Design Patterns:  https://lnkd.in/edVcd_WX.
- SOLID Principles of OO Design:  https://lnkd.in/eerMF84K.
- Advanced Unit Testing:  https://lnkd.in/eMf584xC.
- Refactoring Fundamentals:  https://lnkd.in/exZxPWhZ by Steve Smith ✔.

Also, check the 𝗥𝗼𝗮𝗱𝗺𝗮𝗽 𝗳𝗼𝗿 𝗔𝗦𝗣.𝗡𝗘𝗧 𝗖𝗼𝗿𝗲 𝗱𝗲𝘃𝗲𝗹𝗼𝗽𝗲𝗿𝘀 𝗶𝗻 𝟮𝟬𝟮𝟮:  https://lnkd.in/d8zRRKyU, and a collection of 𝗮𝘄𝗲𝘀𝗼𝗺𝗲 .𝗡𝗘𝗧 𝗹𝗶𝗯𝗿𝗮𝗿𝗶𝗲𝘀, 𝘁𝗼𝗼𝗹𝘀, 𝗳𝗿𝗮𝗺𝗲𝘄𝗼𝗿𝗸𝘀, 𝗮𝗻𝗱 𝘀𝗼𝗳𝘁𝘄𝗮𝗿𝗲:  https://lnkd.in/e3ESib7.