@{
    ViewData["Winima"] = "Winima";
}
<link href="~/css/search.css" rel="stylesheet" type="text/css" />
<div class="container">
 <img src="~/css/winima.png" alt="Sample Photo" style="width:100%;"/>
 </div>
<input type="text" class="search" placeholder="Search..">


